  /*main css*/
  .navbar {
    background-color: green;
    overflow: hidden;
    
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 22px 30px;
    text-decoration: none;
    
  }
  
  .navbar a:hover {
    background-color: white;
    color: black;
  }

  .home-button {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar-text {
    text-align: center;
    font-size: 34px;
    background-image:url(bookingimage/banner.jpg);
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: silver;
    color: black;
    font-weight: bold;
    font-weight: bolder;
  }


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: wheat;
}
#entrance{
    text-align: center;
    color: black;
    font-size: 19px;
}
#charge_table{
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: yellow;
    border: 12px;
    border-color: red;
    transition: 0.3s;
}
#charge_table:hover{
    background-color: white;
    transform: scale(1.2);
}
    th {
      padding: 8px;
      text-align: left;
    }
    .part_container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
.part1{
    flex: 1;
    flex-basis: 0;
    text-align: center;
}
h1{
    font-size: 27px;
}
/*date picjker*/
    /* Style the input field */
    input[type="date"] {
      padding: 8px;
      border: 1px solid black;
      border-radius: 4px;
      font-size: 14px;
      width: 92%;
      background-color: greenyellow;
      border: black;
      
    }

    /* Style the arrow button */
    input[type="date"]::-webkit-calendar-picker-indicator {
      color:black;
      font-size: 14px;
    }

    /* Style the text inside the input field */
    input[type="date"]::-webkit-datetime-edit-text {
      color: black;
      font-size: 14px;
    }

    /* Style the placeholder text */
    input[type="date"]::-webkit-input-placeholder {
      color:black;
    }
    #slots_P{
        color: red;
    }
    /*slots*/
      /* Style the select box */
      select {
      padding: 8px;
      border: 1px solid silver;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 400;
      width: 95%;
      background-color: yellowgreen;
    }

    /* Style the options within the select box */
    option {
      background-color: yellowgreen;
      padding: 4px;
      font-size: 14px;
      color: black;
      font-weight: 400;
    }

    /* Style selected options */
    option:checked {
      background-color: blue;
      color: white;
      font-weight: bold;
    }
/*quantity selector*/
    .number-input-box {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .number-input {
      margin: 10px;
      padding: 10px;
      border: 1px solid white;
      border-radius: 4px;
      background-color: yellowgreen;
      text-align: center;
    }

    .flex {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .minus,
    .plus {
      padding: 10px 20px;
      font-size: 25px;
      margin-left: 10%;
      margin-right: 10%;
      background-color: white;
      border: none;
      cursor: pointer;
    }
    .minus:hover{
        color: white;
        background-color: black;
    }
    .plus:hover{
        color: white;
        background-color: black;
    }

    .quantity {
      padding: 8px;
      border: 1px solid black;
      border-radius: 4px;
      margin: 0 10px;
      width: 200px;
      text-align: center;
    }
    /*button*/
     #button1{
     font-size: 30px;
     background-color: skyblue;
     color: black;
     transition: 0.3s;
     margin-top:10px ;
     margin-bottom: 15px;
     width: 200px;
    }
    #button1:hover{
        background-color: green;
        color: white;
        transform: scale(1.2);
    }
    /*sum table*/
    #sum_table{
      font-size: 22px;
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color:white;
    border: 14px;
    border-color: black;
    color: black;
    font-weight: bolder
    }
    /*footer*/
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
}
.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
} 
.content .text{
  font-size: small;
  font-weight: 600;
  color: white;
}
.content p{
  font-size:large;
  font-weight: 600;
  color: white;
}
footer{
  bottom: 0px;
  width: 100%;
  background:black;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: large;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  top: -10px;
  height: 2px;
  width: 100%;
  background: blue;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background:white;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
  float: left;
}
.fb{
  color: white;
  background-color: blue;
  border-radius: 5px;
}
.twit{
  color: white;
  background-color: darkturquoise;
  border-radius: 5px;
}
.insta{
  color:white;
  background-color: magenta;
  border-radius: 5px;
}
.yt{
  color: white;
  background-color: red;
  border-radius: 5px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  transition: 0.3s;
  border-radius: 5px;
}
.fb :hover{
  color: blue;
  background-color: white;
}
.twit:hover{
  color: darkturquoise;
  background-color: white;
}
.insta:hover{
  color:magenta;
  background-color: white;
}
.yt:hover{
  color:red;
  background-color: white;
}
.center .content .fas{
  font-size: large;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
#loc{
  color: white;
  background-color: red;
}
#ph{
  color: white;
  background-color: green;
}
#em{
  color: white;
  background-color: red;
}
#loc:hover{
  color: red;
  background-color: white;
}
#ph:hover{
  color: green;
  background-color: white;
}
#em:hover{
  color: red;
  background-color: white;
}
.center .content .text{
  font-size: large;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: large;
  margin-bottom: 2px;
  color:orangered ;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: small;
  background: darkslategray;
  padding-left: 10px;
  border: 1px blue;
  color: white;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: red;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: orangered;
  font-size: large;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: greenyellow;
}
.bottom center{
  padding: 5px;
  font-size: large;
  background:slategrey;
}
.bottom center span{
  color:black;
}
.bottom center a{
  color: blue;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
h2{
  color: skyblue;
}

@media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .content1 {
      margin: 80px auto;
    }
  
    .content1 .text {
      font-size: 2rem;
    }
  
    .content1 .p {
      font-size: 1.75rem;
    }
  
    .main-content {
      flex-direction: column;
      flex-wrap: wrap;
      flex-direction: column;
    }
  
    .main-content .box {
      margin: 10px 0;
    }


    .part_container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
.part1{
    flex: 1;
    flex-basis: 0;
    text-align: center;
}



}

